{% extends 'layout.html' %}

{% block background_class %}
  dashboard_background
{% endblock %}

{% block body %}
<div class="user_dashboard">
  <div class="header container">
    <div class="text-right welcome">
      <h1>Welcome <strong>{{ request.user.first_name }}</strong></h1>
    </div>
    <div class="user_info">
      <h3>
        <strong>{{ request.user.get_full_name }}</strong> 
        <br>
        {{ request.user.username }}
      </h3>
    </div>
  </div>
  <div class="dashboard container">
    <div class="area">
      <div class="area_header">
        <h2> Your Classes </h2>
        <br>
        <p>Session</p>
      </div>
      <div class="card_container">
        {% for classroom in classrooms %}
          <div class="items_card">
            <div class="items">
              <h3>{{ classroom.name }}</h3>
              <div class="card_info">
                <p>
                  Course: {{ classroom.course_code }} <br>
                  Section: {{ classroom.section }} <br>
                  Session: {{ classroom.semester }} <br>
                </p>
                <h5>{{ classroom.instructor.get_full_name }}</h5>
                <a href="{% url 'classrooms:show' classroom.id %}" class="btn btn-outline-dark">View</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="area">
      <div class="area_header">
        <h2> Your Quizzes </h2>
        <br>
        <p>Session</p>
      </div>
      <div class="card_container">
        {% for quiz in quizzes %}
          <div class="items_card items_card_fluid paper_list">
            <div class="items">
              <p>
                <strong>{{ quiz.title }}</strong> 
                <br>
                <br>
                {{ quiz.classroom.course_code }},
                Section: {{ quiz.classroom.section }}
              </p>
              <div class="text-right">
                <a href="{% url 'classrooms:show_quiz' quiz.classroom.id quiz.id %}" class="btn btn-outline-dark">
                  View
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="area">
      <div class="area_header">
        <h2> Paper Submission Requests </h2>
        <br>
        <p>Session</p>
      </div>
      <div class="card_container">
        {% for paper in papers %}
          <div class="items_card items_card_fluid paper_list">
            <div class="items">
              <p>
                <strong>{{ paper.group.name }}</strong> 
                <br>
                <br>
                {{ paper.group.course_code }},
                Section: {{ paper.group.section }}
              </p>
              <div class="text-right paper_request_buttons">
                <a href="" class="btn btn-danger">Reject</a>
                <a href="" class="btn btn-outline-dark">Accept</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="area">
      <div class="area_header">
        <h2> Papers Submitted to You </h2>
        <br>
        <p>Session</p>
      </div>
      <div class="card_container">
        {% for paper in papers %}
          <div class="items_card items_card_fluid paper_list">
            <div class="items">
              <p>
                <strong>{{ paper.title }}</strong> 
                <br>
                <br>
                {{ paper.group.course_code }},
                Section: {{ paper.group.section }}
              </p>
              <div class="text-right">
                <a href="" class="btn btn-outline-dark"> View</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}