<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- BOOTSTRAP CSS includes -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,400,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet"> 
  <!-- Defined Stylesheet -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>Project Paperless</title>
</head>
<body class="{% block background_class %}{% endblock %}">
  {% include 'includes/_navbar.html' %}
  {% include 'includes/_messages.html' %}

  <div class="text-danger" style="position: fixed; bottom: 2rem; right: 2rem; text-align: left; 
        background-color: rgba(255, 0, 0, 0.1); padding: 1rem; z-index: 5;"> 
    <strong>Restricted Access</strong> <br> 
    You're viewing content under developement <br>
    <strong>Project Paperless</strong> <br>
    CSE499B, Section 15 <br> 
    Group: Bright Sparks.
  </div>

  {% block body %}
  {% endblock %}

  <!-- BOOTSTRAP JS includes -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- Defined Scripts -->
  <script src="{% static 'script.js' %}"></script>
</body>
</html>