<nav id="navigation_bar">
  <h1 id="logo"><a href="/">Project Paperless</a></a></h1>
  <div id="navigation_links">
    <ul>
      <li><a href="/content/">Content (Trial)</a></li>
      <li><a href="/content/editor/">Editor (Trial)</a></li>
      {% if request.user.is_authenticated %}
        <li><a href="/classroom/">Classes (Trial)</a></li>
        <li><a href="/dashboard/">{{ request.user.first_name }}</a></li>
        <li><a href="/logout/">Logout</a></li>
      {% else %}
        <li><a href="/student/login/">Login</a></li>
        <li><a href="/student/register/">Register</a></li>
      {% endif %}
    </ul>
  </div>
</nav>