<nav id="navigation_bar">
  <h1 id="logo"><a href="/">Project Paperless</a></h1>
  <div id="navigation_links">
    <ul>
      <li><a href="{% url 'creative_contents:index' %}">Content</a></li>
      {% if request.user.is_authenticated %}
        <li><a href="{% url 'creative_contents:editor' %}">Editor</a></li>
        {% if request.user.is_educator %}
          <li><a href="{% url 'classrooms:create' %}">Add CLass</a></li>
        {% else %}
          <li><a href="{% url 'classrooms:join_class' %}">Join CLass</a></li>
          <li><a href="{% url 'classrooms:join_quiz' %}">Attend Quiz</a></li>
        {% endif %}
        <li><a href="{% url 'users:dashboard' %}">{{ request.user.first_name }}</a></li>
        <li><a href="{% url 'users:logout' %}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'users:login' %}">Login</a></li>
        <li><a href="{% url 'users:register' 'student' %}">Register</a></li>
      {% endif %}
      <li><a href="{% url 'documents:verify' %}">Verify Document</a></li>
    </ul>
  </div>
</nav>