{% extends 'layout.html' %}

{% block body %}
  <div class="cover_page_form">
    <div class="wrapper">
      <div class="form_container">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="input-fields">
            <h2>Register</h2>
            <input type="text" class="input" name="user_id" placeholder="Student ID">
            <input type="text" class="input" name="first_name" placeholder="First Name">
            <input type="text" class="input" name="last_name" placeholder="Last Name">
            <input type="password" class="input" name="password" placeholder="Password">
            <input type="password" class="input" name="confirm_password" placeholder="Confirm Password">
          </div>
          <div class="form_button">
            <button class="btn button" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}