{% extends 'layout.html' %}

{% block background_class %}
  dashboard_background
{% endblock %}

{% block body %}
<div class="user_dashboard">
  <div class="header container">
    <div class="text-right welcome">
      <h1><strong>Classroom</strong></h1>
    </div>
    <div class="user_info">
      <h3>
        <strong>{{ quiz.title }}</strong> 
        <br>
        <br>
        {{ quiz.classroom.name }}
      </h3>
      <p>
        {{ quiz.classroom.course_code }}, 
        Section: {{ quiz.classroom.section }} <br>
        Session: {{ quiz.classroom.semester }}
      </p>
    </div>
  </div>
  <div class="dashboard container">
    <div class="area">
      <div class="area_header">
        <h2> Questions </h2>
        <br>
      </div>
      <div class="card_container">
        {% for question in questions %}
          <div class="items_card items_card_fluid paper_list question_list">
            <div class="items">
              <strong>Question: </strong>{{ question | safe }} <br>
              <strong>Options: </strong>{{ question.options | safe }} <br>
              <strong>Correct Answer: </strong>{{ question.answer }} <br>
              <strong>Points: </strong>{{ question.points }} points <br>
              <strong>Time: </strong> {{ question.time }} seconds <br>
              <strong>Is Open: </strong>{{ question.is_open }} <br>
              <strong>Is Taken: </strong>{{ question.is_taken }} <br>
              ** Available after quiz is taken <br>
              <strong>Total Responses: </strong>{{ question.total_responses }} <br>
              <strong>Correct Responses: </strong>{{ question.correct_responses }} <br>
              <div class="text-right">
                <a href="{% url 'classrooms:update_question' quiz.classroom.id quiz.id question.id %}" class="btn btn-outline-dark">
                  Update
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="area">
      <div class="area_header">
        <h2> Add Question </h2>
        <br>
      </div>
      <div class="card_container">
        <div class="educator_forms dashboard_forms">
          <div class="items">
            <form action="{% url 'classrooms:show_quiz' quiz.classroom.id quiz.id %}" method="POST">
              {% csrf_token %}
              <br>
              <p><strong>Question Text:</strong></p>
              {{ question_form.text }}
              {{ question_form.text.errors }}
              <br>
              <br>
              <p><strong>Options </strong>(Seperate each option with // characters in a new line):</p>
              {{ question_form.options }}
              {{ question_form.options.errors }}
              <br>
              <br>
              <p><strong>Correct Choice:</strong></p>
              {{ question_form.answer }}
              {{ question_form.answer.errors }}
              <br>
              <p><strong>Points:</strong></p>
              {{ question_form.points }}
              {{ question_form.points.errors }}
              <br>
              <p><strong>Time (in seconds):</strong></p>
              {{ question_form.time }}
              {{ question_form.time.errors }}
              <button type="submit" class="btn btn-dark">Add Question</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CK Editor JS includes-->
<script src="//cdn.ckeditor.com/4.13.1/standard-all/ckeditor.js"></script>
<!-- MathJax JS includes -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<script>
  CKEDITOR.plugins.addExternal('ckeditor_wiris', 'https://www.wiris.net/demo/plugins/ckeditor/', 'plugin.js');
  CKEDITOR.replace('question', {
    // For now, MathType is incompatible with CKEditor file upload plugins.
    extraPlugins: 'image2,mathjax,embed,autoembed,ckeditor_wiris',
    removePlugins: 'image,uploadimage,uploadwidget,uploadfile,filetools,filebrowser',
    height: 200,
    mathJaxLib: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML',
    allowedContent: true
  });
  CKEDITOR.replace('options', {
    // For now, MathType is incompatible with CKEditor file upload plugins.
    extraPlugins: 'image2,mathjax,embed,autoembed,ckeditor_wiris',
    removePlugins: 'image,uploadimage,uploadwidget,uploadfile,filetools,filebrowser',
    height: 200,
    mathJaxLib: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML',
    allowedContent: true
  });
</script>
{% endblock %}