{% extends 'layout.html' %}
{% load static %}

{% block body %}
<div class="overlay overlays"></div>
<div class="asset_container_wrapper overlays">
  <div class="asset_container container">
    <h3>
      {{ quiz.title }}
      <div id="close_icon">
        <a href="#"><img src="{% static 'images/exit_icon.svg' %}" alt=""></a>
      </div>
    </h3>
    <div class="asset_area" id="asset_area">
      <div class="quiz_statistics">
        <img src="" id="statistics_image" alt="">
      </div>
    </div>
  </div>
</div>
<div class="user_dashboard">
  <div class="header container">
    <div class="text-right welcome">
      <h1><strong>Classroom</strong></h1>
    </div>
    <div class="user_info">
      <h3>
        <strong>{{ quiz.title }}</strong> 
        <br>
        <br>
        {{ quiz.classroom.name }}
      </h3>
      <p>
        {{ quiz.classroom.course_code }}, 
        Section: {{ quiz.classroom.section }} <br>
        Session: {{ quiz.classroom.semester }}

        <div class="text-right">
          <form action="{% url 'classrooms:show_quiz_stats' %}"
                id="quiz_stats_form"
                method="POST">
            {% csrf_token %}
            <input type="hidden" name="class_id" value="{{ quiz.classroom.id }}">
            <input type="hidden" name="quiz_id" value="{{ quiz.id }}">
          </form>
          <a href="" class="btn btn-outline-info" id="quiz_stats">Statistics</a>
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
      </p>
    </div>
  </div>
  <div class="dashboard container">
    <div class="area">
      <div class="area_header">
        <h2> Questions </h2>
      </div>
      <div class="card_container">
        {% for question in questions %}
          <div class="items_card items_card_fluid paper_list question_list">
            <div class="items">
              <strong>Question: </strong>{{ question | safe }} <br>
              <strong>Options: </strong>{{ question.options | safe }} <br>
              <strong>Correct Answer: </strong>{{ question.answer }} <br>
              <strong>Points: </strong>{{ question.points }} points <br>
              <strong>Time: </strong> {{ question.time }} seconds <br>
              <strong>Is Open: </strong>{{ question.is_open }} <br>
              <strong>Is Taken: </strong>{{ question.is_taken }} <br>
              ** Available after quiz is taken <br>
              <strong>Total Responses: </strong>{{ question.total_responses }} <br>
              <strong>Correct Responses: </strong>{{ question.correct_responses }} <br>
              <div class="text-right">
                <a href="{% url 'classrooms:update_question' quiz.classroom.id quiz.id question.id %}"
                   class="btn btn-outline-dark">
                  Update
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="area">
      <div class="area_header">
        <h2> Update Quiz </h2>
      </div>
      <div class="card_container">
        <div class="forms_card educator_forms">
          <div class="items">
            <form action="{% url 'classrooms:show_quiz' quiz.classroom.id quiz.id %}" method="POST"
                  id="update_quiz_form">
              {% csrf_token %}
              <div class="input_groups">
                <div class="input_group">
                  <label for=""><strong>Title:</strong></label>
                  {{ quiz_form.title }}
                </div>
                {{ quiz_form.title.errors }}
              </div>
              <div class="input_groups">
                <div class="input_group">
                  <label for=""><strong>Due Date:</strong></label>
                  {{ quiz_form.due_date }}
                </div>
                {{ quiz_form.due_date.errors }}
              </div>
              <div class="input_groups">
                <div class="input_group">
                  <label for=""><strong>Open for all:</strong></label>
                  {{ quiz_form.is_open }}
                </div>
                {{ quiz_form.is_open.errors }}
              </div>
              <div class="input_groups">
                <div class="input_group">
                  <label for=""><strong>Is Running:</strong></label>
                  {{ quiz_form.is_running }}
                </div>
                {{ quiz_form.is_running.errors }}
              </div>
              <button type="submit" name="update_quiz" class="btn btn-dark">Update Quiz</button>
            </form>
          </div>
        </div>
      </div>  
      <div class="area_header" id="question_form_header">
        <h2> Add Question </h2>
      </div>
      <div class="card_container">
        <div class="forms_card educator_forms">
          <div class="items">
            <form action="{% url 'classrooms:show_quiz' quiz.classroom.id quiz.id %}" method="POST">
              {% csrf_token %}
              <div class="input_groups">
                <label><strong>Question Text:</strong></label> <br>
                {{ question_form.text }}
                {{ question_form.text.errors }}
              </div>
              <div class="input_groups">
                <label><strong>Options </strong>(Seperate each option with // characters in a new line):</label> <br>
                {{ question_form.options }}
                {{ question_form.options.errors }}  
              </div>
              <div class="input_groups">
                <div class="input_group">
                  <label><strong>Correct Choice:</strong></label>
                  {{ question_form.answer }}
                </div>  
                {{ question_form.answer.errors }}
              </div>
              <div class="input_groups">
                <div class="input_group">
                  <label><strong>Points:</strong></label>
                  {{ question_form.points }}
                </div> 
                {{ question_form.points.errors }}   
              </div>
              <div class="input_groups">
                <div class="input_group">
                  <label><strong>Time (in seconds):</strong></label>
                  {{ question_form.time }} 
                </div>  
                {{ question_form.time.errors }} 
              </div>
              <button type="submit" name="add_question" class="btn btn-dark">Add Question</button>
            </form>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>

<!-- CK Editor JS includes-->
<script src="//cdn.ckeditor.com/4.13.1/standard-all/ckeditor.js"></script>
<!-- MathJax JS includes -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- Defined JS includes -->
<script src="{% static 'scripts/update_quiz_editors.js' %}"></script>
<script src="{% static 'scripts/show_quiz_stats.js' %}"></script>

{% endblock %}