{% extends 'layout.html' %}

{% block body %}
<div class="user_dashboard">
  <div class="header container">
    <div class="text-right welcome">
      <h1><strong>Classroom</strong></h1>
    </div>
    <div class="user_info">
      <h3>
        <strong>{{ classroom.name }}</strong> 
      </h3>
      <p>
        {{ classroom.course_code }}, 
        Section: {{ classroom.course_code }} <br>
        Session: {{ classroom.semester }}
      </p>
    </div>
  </div>
  <div class="dashboard container">
    <div class="area">
      <div class="area_header">
        <h2> Your Quizzes </h2>
        <br>
        <p>Session</p>
      </div>
      <div class="card_container">
        {% for quiz in quizzes %}
          <div class="items_card items_card_fluid paper_list">
            <div class="items">
              <p>
                <strong>{{ quiz.title }}</strong> 
                <br>
                <br>
                {{ quiz.classroom.course_code }},
                Section: {{ quiz.classroom.section }}
              </p>
              <div class="text-right">
                <a href="{% url 'classrooms:show_quiz' classroom.id quiz.id %}" class="btn btn-outline-dark">
                  View
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="area">
      <div class="area_header">
        <h2> Add Quiz </h2>
      </div>
      <div class="card_container">
        <div class="forms_card educator_forms">
          <div class="items">
            <form action="" method="POST" id="update_quiz_form">
              {% csrf_token %}
              {{ form.non_field_errors }}
              <div class="input_groups">
                <div class="input_group">
                  <label for=""><strong>Title:</strong></label>
                  {{ quiz_form.title }}
                </div>
                {{ quiz_form.title.errors }}
              </div>
              <div class="input_groups">
                <div class="input_group">
                  <label for=""><strong>Due Date:</strong></label>
                  {{ quiz_form.due_date }}
                </div>
                {{ quiz_form.due_date.errors }}
              </div>
              <div class="input_groups">
                <div class="input_group">
                  <label for=""><strong>Open for all:</strong></label>
                  {{ quiz_form.is_open }}
                </div>
                {{ quiz_form.is_open.errors }}
              </div>
              <button type="submit" class="btn btn-dark">Add Quiz</button>
            </form>
          </div>
        </div>
      </div>     
    </div>
  </div>
</div>
{% endblock %}