{% extends 'layout.html' %}

{% block body %}
<div id="content_display">
  <div class="container" id="content">
    {% if content %}
      {{ content.content | safe }}
    {% endif %}
  </div>
</div>


<!-- MathJax JS includes -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    },
    svg: {
      fontCache: 'global'
    },
    loader: {load: ['input/asciimath', 'output/chtml']},
  }
  
  window.onload = function() {
    document.querySelector('#content').style.display = 'block';
  }
</script>
{% endblock %}