{% extends 'layout.html' %}

{% block body %}
<div id="content_display">
  <div class="container" id="content">
    {% if content %}
      {{ content.content | safe }}
    {% endif %}
  </div>
</div>


<!-- MathJax JS includes -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<script>
  function load_math(event) {
    output.innerHTML = event.editor.getData();
    MathJax.texReset();
    MathJax.typesetClear();
    MathJax.typesetPromise([output]).catch(function (err) {
      latex_output.innerHTML = '';
      latex_output.appendChild(document.createTextNode(err.message));
      console.error(err);
    }).then(function () {
    });
  }

  MathJax = {
    loader: {load: ['input/asciimath', 'output/chtml']},
  }
</script>
{% endblock %}