{% extends 'layout.html' %}

{% block body %}
  <div class="container" style="padding-top: 5rem;">
    <h1>Course Materials</h1>
    {% if contents %}
      {% for content in contents %}
        <div class="card">
          <div class="card-body">
            <h2>{{ content.title }}</h2>
            <h2>{{ content.course_code }} | {{ content.section }}</h2>
            <a href="/content/{{ content.link }}/show/">View</a>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}