{% extends 'layout.html' %}

{% block body %}
  <div id="content_list_background">
    <div id="content_list_overlay_">
      <div class="container" id="content_list_container">
        <h1 class="form_header" id="content_list_header">Course Materials</h1>
        {% if contents %}
          <div id="content_list">
            {% for content in contents %}
              <div class="content_card">
                <div>
                  <h2>{{ content.title }}</h2>
                <hr>
                <p> Course: {{ content.course_code }} <br> Section: {{ content.section }}</p>
                </div>
                <a href="/content/{{ content.link }}/show/" class="btn btn-outline-info"> View</a>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}