{% extends 'layout.html' %}

{% block body %}
<div class="user_dashboard form_page">
  <div class="header container">
    <div class="text-right welcome">
      <h1>Hello <strong>{{ request.user.first_name }}</strong></h1>
    </div>
    <div class="user_info">
      <h3>
        <strong>{{ request.user.get_full_name }}</strong> 
        <br>
        {{ request.user.username }}
      </h3>
    </div>
  </div>
  <div class="form_container container">
    <div class="form">
      <div>
        <h1 class="form_header">Create New Group</h1>
      </div>
      <form action="{% url 'documents:upload_paper' %}" method="POST">
        {% csrf_token %}
        {{ form.paper }}
        {{ form.paper.errors }}
        <button type="submit" class="btn btn-dark">Upload Paper</button>
      </form>
    </div>
  </div>
  <div class="footer container"></div>
</div>
{% endblock %}