{% extends 'layout.html' %}

{% block body %}
<div class="user_dashboard form_dashboard">
  <div class="header container">
    <div class="text-right welcome">
      <h1>Hello <strong>{{ request.user.first_name }}</strong></h1>
    </div>
    <div class="user_info">
      <h3>
        <strong>{{ request.user.get_full_name }}</strong> 
        <br>
        {{ request.user.username }}
      </h3>
    </div>
  </div>
  <div class="dashboard container">
    <div class="area">
      <div class="area_header">
        <h2> Upload Paper </h2>
      </div>
      <div class="card_container">
        <div class="forms_card educator_forms">
          <div class="items">
            <form action="{% url 'documents:upload_paper' %}" method="POST" enctype="multipart/form-data"
                  id="add_group_form">
              {% csrf_token %}
              {{ form.group_id }}
              <div class="input_groups">
                {{ form.title }}
                {{ form.title.errors }}
              </div>
              <div class="input_groups">
                {{ form.paper }}
                {{ form.paper.errors }}
              </div>
              <button type="submit" class="btn btn-dark">Submit Paper</button>
            </form>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>
{% endblock %}