{% extends 'layout.html' %}

{% block body %}
<div class="container" id="dashboard">
  <div class="info">

    <div class="stcard">
      <h1>Student Info</h1>
      <p>Student Name</p>
      <p>Student Id</p>
      <p>Student Semester </p>
  </div>
  </div>
  
  <div class="flex-container">
    <div>
      <div class="card">
    <h5 class="card-header">My Courses</h5>
    <div class="card-body">
      <h5 class="card-title">Session</h5>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6">
      <div class="cardts">
        <div class="card-body">
          <h5 class="card-title">CSE 101</h5>
          <p class="card-text">Intoduction To CSE </p>
          <button>Check CSE 101 Course Material</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="cardts">
        <div class="card-body">
          <h5 class="card-title">CSE 102</h5>
          <p class="card-text">Die With CSE </p>
          <button>Check CSE 102 Course Material</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="cardts">
        <div class="card-body">
          <h5 class="card-title">CSE 102</h5>
          <p class="card-text">Die With CSE </p>
          <button>Check CSE 102 Course Material</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="cardts">
        <div class="card-body">
          <h5 class="card-title">CSE 102</h5>
          <p class="card-text">Die With CSE </p>
          <button>Check CSE 102 Course Material</button>
        </div>
      </div>
    </div>
  
  </div>
  
  
    </div>
    <div><div>
      <div class="card">
    <h5 class="card-header">Course Summary</h5>
    <div class="card-body">
      <h5 class="card-title">Session</h5>
    </div>
        <div class="card">
          <div class="cardtsp">
            <span>Quiz1</span>
            :
            <span>Marks</span>
          </div>
        </div>
        <div class="card">
          <div class="cardtsp">
            <span>Quiz2</span>
            :
            <span>Marks</span>
          </div>
        </div>
        <div class="card">
          <div class="cardtsp">
            <span>Quiz3</span>
            :
            <span>Marks</span>
          </div>
        </div>
  
  </div>
  </div>
  </div>
    <div><div>
      <div class="card">
    <h5 class="card-header">Paper Submission</h5>
    <div class="card-body">
      <h5 class="card-title">Session</h5>
    </div>
    <div class="card">
      <form>
      <div class="form-group">
        <input type="file"class="form-control-file" id="exampleFormControlFile1">
      </div>
    </form>
      <a href="#" class="btn btn-primary">Submit your Paper</a>
    </div>
  </div>
  </div></div>
    <div><div>
      <div class="card">
    <h5 class="card-header">Your Previous Papers</h5>
    <div class="card-body">
      <h5 class="card-title">Session</h5>
    </div>
    <div class="card">
      <div class="card-body">
        <p>Your Paper 1</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <p>Your paper 2</p>
      </div>
    </div>
  </div>
  
  
  
  </div>
  </div></div>
</div>
{% endblock %}