{% extends 'layout.html' %}

{% block background_class %}
  dashboard_background
{% endblock %}

{% block body %}
  <div class="forms">
    <form action="{{ register_url }}" method="POST">
      {% csrf_token %}
      <div class="input-fields">
        <h1 class="form_header">Register</h1>
        {{ form.non_field_errors }}
        {{ form.username }}
        {{ form.username.errors }}
        {{ form.first_name }}
        {{ form.first_name.errors }}
        {{ form.last_name }}
        {{ form.last_name.errors }}
        {{ form.email }}
        {{ form.email.errors }}
        {{ form.password }}
        {{ form.password.errors }}
        {{ form.confirm_password }}
        {{ form.confirm_password.errors }}
        {{ form.verification_code }}
        {{ form.verification_code.errors }}
        <!--
        <input type="text" class="input" name="user_id" placeholder="Student ID">
        <input type="text" class="input" name="first_name" placeholder="First Name">
        <input type="text" class="input" name="last_name" placeholder="Last Name">
        <input type="password" class="input" name="password" placeholder="Password">
        <input type="password" class="input" name="confirm_password" placeholder="Confirm Password">
        -->
      </div>
      <div class="submit_button_container">
        <button class="btn btn-info" type="submit">Register</button>
      </div>
    </form>
  </div>
{% endblock %}