{% extends 'layout.html' %}

{% block background_class %}
  dashboard_background
{% endblock %}

{% block body %}
<div id="error">
  <div class="error_message">
    <h4> Error </h4>
    <p id="error_message"> Error Message </p>
    <a href="" class="btn btn-outline-light">Reload Page</a>
  </div>
</div>

<div id="prompt">
  <div class="error_message">
    <h4> Warning </h4>
    <p id="prompt_message"> Prompt Message </p>
    <a href="" id="prompt_cancel" class="btn btn-outline-light">Cancel</a>
    <a href="" id="prompt_continue" class="btn btn-warning">Delete</a>
  </div>
</div>

<div class="user_dashboard">
  <div class="header container">
    <div class="text-right welcome">
      <h1><strong>{{ content.title }}</strong></h1>
    </div>
    <div class="user_info">
      <h3>
        <strong>{{ content.user.get_full_name }}</strong>
        <br>
      </h3>
      <strong>Created: </strong> {{ content.date_created }} <br>
      <strong>Updated:  </strong> {{ content.date_updated }} <br>
      <br>
      <h4>
        <strong>
          {{ content.course_code }},
          Section: {{ content.section }}
        </strong>
        {% if request.user == content.user %}
          <div class="text-right">
            <a href="#" class="btn btn-danger">Delete</a>
            <a href="#" class="btn btn-outline-info">Edit</a>
          </div>
        {% endif %}
      </h4>
    </div>
  </div>
  <div class="dashboard container content_area_container">
    <div class="content_area">
      <div class="container" id="content">
        {% if content %}
          {{ content.content | safe }}
          <!-- Add HTML for Comment Section HERE -->
        {% endif %}
      </div>
    </div>
    <div class="comment_section">
      <div class="comment_header">
        <h2>Discussion</h2>
      </div>
      <div class="comment_container">
        <form action="" id="replies_form">
          {% csrf_token %}
          <div id="comments">
            {% for discussion in discussions %}
              <!--Comments-->
              <div class="comment_card" id="comment_card_{{ discussion.id }}">
                <div class="comment_info">
                  <h5>{{ discussion.user.get_full_name }}</h5>
                  <div class="text-right" id="comment_time_{{ discussion.id }}">
                    {{ discussion.date}}
                  </div>
                </div>
                <div class="comment_body" id="comment_{{ discussion.id }}">
                  {{ discussion.text | safe }}
                </div>
                <!--Comment Replies-->
                <div id="replies_card_{{ discussion.id }}">
                  <div class="replies">
                    {% for response in discussion.response.all %}
                      <div class="comment_card comment_replies" id="reply_card_{{ discussion.id }}_{{ response.id }}">
                        <div class="comment_info">
                          <h5>{{ response.user.get_full_name }}</h5>
                          <div class="text-right" id="reply_time_{{ discussion.id }}_{{ response.id }}">
                            {{ response.date}}
                          </div>
                        </div>
                        <div class="comment_body" id="reply_{{ discussion.id }}_{{ response.id }}">
                          {{ response.text | safe }}
                        </div>
                        <!--Reply Actions-->
                        {% if request.user.is_authenticated %}
                          {% if request.user == response.user %}
                            <div class="actions text-right">
                              <a href="" class="replies_delete" id="{{ discussion.id }}_{{ response.id }}">Delete</a>
                              <a href="" class="replies_edit" id="{{ discussion.id }}_{{ response.id }}">Edit</a>
                            </div>
                          {% elif request.user == content.user %}
                            <div class="actions text-right">
                              <a href="" class="replies_delete" id="{{ discussion.id }}_{{ response.id }}">Delete</a>
                            </div>
                          {% endif %}
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <!--Comment Actions-->
                <div class="actions text-right">
                  {% if request.user.is_authenticated %}
                    {% if discussion.user == request.user %}
                      <a href="" class="comments_delete" id="{{ discussion.id }}">Delete</a>
                      <a href="" class="comments_edit" id="{{ discussion.id }}">Edit</a>
                    {% elif request.user == content.user %}
                      <a href="" class="comments_delete" id="{{ discussion.id }}">Delete</a>
                    {% endif %}
                    <a href="" class="reply_buttons" id="card_{{ discussion.id }}">Reply</a>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        </form>
        {% if request.user.is_authenticated %}
          <div class="comment_card comment_form">
            <div class="comment_info">
              <h5 id="comment_form_header">Write your query</h5>
            </div>
            <form action="" method="POST" id="comment_form">
              {% csrf_token %}
              <div class="comment_body">
                {{ discussion_form.text }}
                {{ discussion_form.text.errors }}
              </div>
              <div class="actions text-right">
                <button type="button" class="btn btn-outline-warning" id="exit_comment_button">Exit</button>
                <button type="submit" class="btn btn-outline-light" id="comment_button">Post</button>
              </div>
            </form>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!--
<div class="comment_card comment_form" id="reply_area">
  <div class="comment_info">
    <h5>Write your reply</h5>
  </div>
  <div class="comment_body">
    <textarea name="reply_input" id="reply_input" cols="30" rows="10"></textarea>
  </div>
  <div class="actions text-right">
    <button type="submit" class="btn btn-outline-light">Reply</button>
  </div>
</div>
-->


<!-- CK Editor JS includes-->
<script src="//cdn.ckeditor.com/4.13.1/standard-all/ckeditor.js"></script>
<!-- MathJax JS includes -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- Defined JS includes -->
{% load static %}
<script src="{% static 'scripts/content_discussion.js' %}"></script>

{% endblock %}