{% extends 'layout.html' %}

{% block body %}
<div class="editor_wrapper">
  <div class="editor_items" id="left">
    <form action="" method="POST">
      {% csrf_token %}
      <div class="editor_inputs">
        <!--
        <select name="course_id" id="left" class="input">
          <option value="default.default" selected>Select Course</option>
          <option value="CSE 499A.21">CSE 499A.21</option>
          <option value="CSE 499B.15">CSE 499B.15</option>
        </select>
        <input type="text" class="input" id="right" name="title" 
        value="{% if edit %} {{ content.title }} {% endif %}" placeholder="Title">
        -->
        {{ content_form.course }}
        {{ content_form.course.errors }}
        {{ content_form.title }}
        {{ content_form.title.errors }}
      </div>
      {{ content_form.content }}
      {{ content_form.content.errors }}
      <!--
      <textarea name="content" id="input" cols="80" rows="10" data-sample-short>
        {% if edit %}
          {{ content.content }}
        {% endif %}
      </textarea>
      -->
      {{ content }}
      <input type="submit" style="display: none;">
    </form>
    <form action="/content/upload/" id="image_upload_form" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="editor_inputs">
        {{ resource_form.item }}
        <button type="submit" class="btn btn-outline-dark">Upload Image / Video</button>
      </div>
    </form>
  </div>
  <div class="editor_items" id="right">
    <h3>Preview Here</h3>
    <hr>
    <p id="output"></p>
  </div>
</div>

<div>
  <h1>Your Images</h1>
  <h2>Recently Uploaded</h2>
  <ul id="resources"></ul>
  <h2>Previous Uploads</h2>
  <ul>
    {% for resource in resources %}
      <li>{{ resource.item.url }}</li>
    {% endfor %}
  </ul>
</div>

<!-- CK Editor JS includes-->
<script src="//cdn.ckeditor.com/4.13.1/full-all/ckeditor.js"></script>
<!-- MathJax JS includes -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- Defined JS includes -->
{% load static %}
<script src="{% static 'scripts/editor.js' %}"></script>

{% endblock %}