{% extends 'layout.html' %}

{% block body %}
<div class="editor_wrapper">
  <div class="editor_items" id="left">
    <form action="" method="POST">
      {% csrf_token %}
      <div class="editor_inputs">
        <select name="course_id" id="left" class="input">
          <option value="default.default" selected>Select Course</option>
          <option value="CSE 499A.21">CSE 499A.21</option>
          <option value="CSE 499B.15">CSE 499B.15</option>
        </select>
        <input type="text" class="input" id="right" name="title" 
        value={% if edit %} {{ content.title }} {% endif %} 
        placeholder="Title">
      </div>
      <textarea name="content" id="input" cols="80" rows="10" data-sample-short>
        {% if edit %}
          {{ content.content }}
        {% endif %}
      </textarea>
      <input type="submit" style="display: none;">
    </form>
    <form action="/content/upload/" id="image_upload_form" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="editor_inputs">
        {{ form.item }}
        <button type="submit" class="btn btn-outline-dark">Upload Image / Video</button>
      </div>
    </form>
  </div>
  <div class="editor_items" id="right">
    <h3>Preview Here</h3>
    <hr>
    <p id="output">
      {% if edit %}
        {{ content.content | safe }}
      {% endif %}
    </p>
  </div>
</div>

<div>
  <h1>Your Images</h1>
  <h2>Recently Uploaded</h2>
  <ul id="resources"></ul>
  <h2>Previous Uploads</h2>
  <ul>
    {% for resource in resources %}
      <li>{{ resource.item.url }}</li>
    {% endfor %}
  </ul>
</div>

<!-- CK Editor JS includes-->
<script src="//cdn.ckeditor.com/4.13.1/full-all/ckeditor.js"></script>
<!-- MathJax JS includes -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<script>
  CKEDITOR.plugins.addExternal('ckeditor_wiris', 'https://www.wiris.net/demo/plugins/ckeditor/', 'plugin.js');

  let editor = CKEDITOR.replace('input', {
    // For now, MathType is incompatible with CKEditor file upload plugins.
    extraPlugins: 'image2,mathjax,embed,autoembed,ckeditor_wiris',
    removePlugins: 'image,uploadimage,uploadwidget,uploadfile,filetools,filebrowser',
    height: 400,
    mathJaxLib: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML',

    //filebrowserBrowseUrl: '/apps/ckfinder/3.4.5/ckfinder.html',
    //filebrowserImageBrowseUrl: '/apps/ckfinder/3.4.5/ckfinder.html?type=Images',
    //filebrowserUploadUrl: '/content/upload/',
    //filebrowserImageUploadUrl: '/content/upload/',

    allowedContent: true,

    toolbarGroups: [
      { name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
      { name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
      { name: 'editing', groups: [ 'find', 'selection', 'spellchecker', 'editing' ] },
      '/',
      { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
      { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph' ] },
      { name: 'links', groups: [ 'links' ] },
      '/',
      { name: 'styles', groups: [ 'styles' ] },
      { name: 'colors', groups: [ 'colors' ] },
      { name: 'tools', groups: [ 'tools' ] },
      { name: 'others', groups: [ 'others' ] },
      { name: 'about', groups: [ 'about' ] },
      '/',
      { name: 'insert', groups: [ 'insert' ] }
    ],
    removeButtons: 'Form,Checkbox,Radio,TextField,Textarea,Select,Button,ImageButton,HiddenField,CreateDiv',
    // Load the default contents.css file plus customizations for this sample.
    contentsCss: [
        'http://cdn.ckeditor.com/4.13.1/full-all/contents.css',
        'https://ckeditor.com/docs/vendors/4.13.1/ckeditor/assets/css/widgetstyles.css'
      ],
    // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
    embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}'
    
    // Update the ACF configuration with MathML syntax.
    //extraAllowedContent: mathElements.join(' ') + '(*)[*]{*};img[data-mathml,data-custom-editor,role](Wirisformula)'
  });

  let output = document.querySelector('#output');

  editor.on( 'change', function(event) {
    // getData() returns CKEditor's HTML content.
    load_math(event);
  });

  function load_math(event) {
    output.innerHTML = event.editor.getData();
    MathJax.texReset();
    MathJax.typesetClear();
    MathJax.typesetPromise([output]).catch(function (err) {
      latex_output.innerHTML = '';
      latex_output.appendChild(document.createTextNode(err.message));
      console.error(err);
    }).then(function () {
    });
    document.querySelector('#right').style.borderLeft = '1px solid grey';
  }

  MathJax = {
    loader: {load: ['input/asciimath', 'output/chtml']},
  }

  /*
  document.querySelector('#insert_text').addEventListener('click', insert_text);

  function insert_text() {
    alert("Insert Text");
    CKEDITOR.instances.input.insertHtml('<div> some text here </div>');
  }
  */

  let form = document.querySelector('#image_upload_form');

  form.onsubmit = function(event) {
    event.preventDefault();
    let form_data = new FormData(form);

    let xhr = new XMLHttpRequest();
    xhr.open('POST', form.getAttribute('action'), true);
    console.log(form_data.get('upload_file'));
    xhr.onload = function() {
      if (this.status == 200) {
        let item_node = document.createElement('li');
            item_node.innerHTML = this.responseText;
            document.querySelector('#resources').appendChild(item_node);
      }
    }
    xhr.send(form_data);
    console.log('File Uploaded');
  }
</script>
{% endblock %}