{% extends 'layout.html' %}

{% block body %}
<div class="user_dashboard">
  <div class="header container">
    <div class="text-right welcome">
      <h1><strong>Contents</strong></h1>
    </div>
    <div class="user_info">
      {% if request.user.is_authenticated %}
        <h3>
          <strong>{{ request.user.get_full_name }}</strong> 
          <br>
          {{ request.user.username }}
        </h3>
      {% else %}
        <h3>
          <strong>Hello Visitor</strong> 
          <br>

        </h3>
      {% endif %}
    </div>
  </div>
  <div class="dashboard container">
    <div class="content_display">
      <div class="card_container">
        {% regroup contents by course_code as content_list %}
        {% for course, contents in content_list %}
          <h2 class="card_group_header">Course: {{ course }} </h2>
          {% for content in contents %}
            <div class="items_card">
              <div class="items">
                <h3>{{ content.title }}</h3>
                <div class="card_info">
                  <p>
                    Course: {{ content.course_code }} <br>
                    Section: {{ content.section }} <br>
                  </p>
                  <h5>{{ content.user.get_full_name }}</h5>
                  <a href="/content/{{ content.link }}/show/" class="btn btn-outline-dark"> View</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}