{% extends 'layout.html' %}

{% block body %}
<div class="user_dashboard form_dashboard">
  <div class="header container">
    <div class="text-right welcome">
      <h1><strong>Classroom</strong></h1>
    </div>
    <div class="user_info">
      <h3>
        <strong>{{ quiz.title }}</strong> 
        <br>
        <br>
        {{ quiz.classroom.name }}
      </h3>
      <p>
        {{ quiz.classroom.course_code }}, 
        Section: {{ quiz.classroom.course_code }} <br>
        Session: {{ quiz.classroom.semester }}
      </p>
    </div>
  </div>
  <div class="dashboard container">
    <div class="area quiz_area">
      <div class="area_header">
        <h2> Questions </h2>
      </div>
      <div class="card_container">
        <div class="forms_card educator_forms">
          <div class="items">
            <form action="" method="POST">
              {% csrf_token %}
              {{ form.answers }}
              <div class="text-right">
                <strong>Points: </strong><span id="points_tag"></span> <br>
                <span id="timer_display"><strong>Time Remaining: </strong><span id="timer_tag"></span> seconds</span>
              </div>
              <div id="question_area">
                <h4>Question Number: <span id="question_number"></span></h4>
                <p id="question_tag"></p>
                <p id="options_tag"></p>
                <br>
              </div>
              <div class="button_right">
                <button type="submit" class="btn btn-dark">
                  Next
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer container"></div>
</div>

<!-- CK Editor JS includes-->
<script src="//cdn.ckeditor.com/4.13.1/full-all/ckeditor.js"></script>
<!-- MathJax JS includes -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

{% load static %}
<script>
    const questions = JSON.parse(JSON.stringify( {{questions | safe}} ));
</script>
<script src="{% static 'scripts/quiz.js' %}"></script>

{% endblock %}