body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* section Forms by Fahad */
.forms {
  width: 450px;
  background: rgba(255, 255, 255, 0.3);
  color: #1c8adb;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  
  padding: 3rem;
}

.submit_button_container {
  position: relative;
  width: 100%;
  text-align: right;
}

.submit_button_container .btn {
  width: 8rem;
  height: 2.8rem;
}

.forms input {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.6);
  /* background-color: rgba(235, 235, 235, 0.6); */
  padding: 1.5rem;
  outline: none;
  height: 40px;
  color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 600px){
  .forms {
    width: 95%;
    padding: 1.5rem;
  }
}
/* endsection Forms by Fahad */

/* section Navigation Bar by Tanzim */
/*
nav {
  position: relative;
  background-color: rgba(48, 48, 48, 0.25);
  width: 100%;
  height: 3.5rem;
  z-index: 7;
}

.stick_nav_bar {
  position: fixed;
  top: 0;
  background-color: rgba(48, 48, 48, 0.8);
  border-bottom: 1px solid rgba(0, 184, 148,0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
*/

nav {
  position: fixed;
  top: 0;
  background-color: rgba(48, 48, 48, 0.8);
  border-bottom: 1px solid rgba(0, 184, 148,0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 3.5rem;
  z-index: 7;
}

#logo {
  display: inline-block;
  /*background-color: rgba(255, 255, 255,0.7);*/
  height: 3.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#logo a {
  color: #00b894;
  text-decoration: none;
  font-weight: 100;
}

#navigation_links {
  display: inline-block;
  position: absolute;
  height: 3.5rem;
  right: 0;
}

#navigation_links li {
  display: inline-block;
  vertical-align: middle;
  padding: 1rem;
  margin: 0;
}

#navigation_links a {
  color: white;
  font-weight: 100;
}

#navigation_links a:hover {
  color: #00b894;
  font-weight: bold;
}

#navigation_links a:active {
  color: black;
  font-weight: bold;
}

#navigation_links button {
  color: #636e72;
}

#navigation_links button:hover {
  color: hotpink;
  font-weight: bold;
}

#navigation_links button:active {
  color: #74b9ff;
  font-weight: bold;
}

.temp {
  height: 1200px;
}

.ceiling {
  width: 100%;
  height: 3.5rem;
}

.form_header {
  color: rgba(0, 0, 0, 0.55);
  text-align: left;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.55);
}
/* section Navigation Bar by Tanzim */
/* section Home Page by Tanzim */
#hero_image {
  position: relative;
  /*top: -3.5rem;*/
  background-image: url('/static/images/hero_image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#hero_text {
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
}
/* endsection Home Page by Tanzim */

/* section Error Messages by Tanzim */
.errorlist {
  color: red;
  background-color: rgba(216, 216, 216, 0.4);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}

.flash_messages {
  position: absolute; 
  top: 3.5rem;
  width: 100%; 
  text-align: center;
  z-index: 4;
}
/* endsection Error Messages by Tanzim */

/* section Icons by Tanzim*/
#close_icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4rem;
}

#close_icon img {
  width: 100%;
}
/* endsection Icons by Tanzim*/

/* section Dashboard by Tanzim*/
.dashboard_background {
  background-image: url('/static/images/bg_2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

.user_dashboard {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-top: 3.5rem;
}

.user_dashboard .header {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  /* background-color: rgb(39, 40, 44); */
  background-color: rgb(39, 40, 44);
  color: white;
  opacity: 0.85;
}

.user_dashboard .welcome {
  padding-right: 2rem;
}

.user_dashboard .dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
}

.user_dashboard .container {
  max-width: 1275px;
  padding-left: 0;
  padding-right: 0;
}

.header .user_info {
  position: relative;
  margin-top: 5rem;
  width: 100%;
  padding: 1rem 2.4rem 0.5rem 2.4rem;
  margin-bottom: 1rem;
}

.header .user_info .text-right {
  display: inline-block;
  width: auto;
  position: absolute;
  right: 2rem;
  bottom: 0;
}

.header .user_info .btn {
  width: 8rem;
}

.dashboard .area_wrapper {
  padding-top: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  background-color: rgba(39, 40, 44, 0.5);

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25),
              0 6px 20px 0 rgba(0, 0, 0, 0.20);
  border-radius: 0.4rem;
}

.dashboard .area {
  width: 38rem;
  margin: 1rem 0.5%;
  padding-bottom: 1rem;
}

.dashboard .area_header {
  width: 100%;
  /*background-color: #999484;*/
  padding: 1rem 2.4rem 0.5rem 2.4rem;
  margin-bottom: 1rem;
  border-top: 1px solid rgb(76, 94, 70);
  border-bottom: 1px solid rgb(76, 94, 70);
  color: rgb(76, 94, 70);
}

.dashboard .card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.dashboard .card_group_header {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(76, 94, 70);
  color: rgb(76, 94, 70);
  text-align: center;
}

.dashboard .items_card,
.dashboard .forms_card {
  width: 18rem;
  height: 20rem;
  /*background-color: rgba(48, 48, 48, 1);*/
  /*background-color: rgba(35, 199, 232, 0.2);*/
  /*background-color: rgba(13, 42, 64, 0.247);*/
  /*background-color: rgb(109,132,124);*/
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

  background-color: white;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25),
              0 6px 20px 0 rgba(0, 0, 0, 0.20);
  border-radius: 0.4rem;
  /*border: 1px solid rgba(0, 184, 148,1);*/
  padding: 2rem;
  margin: 0.5rem;
}

.dashboard .items_card .items,
.dashboard .forms_card .items {
  position: relative;
  width: 100%;
  height: 100%;
}

.dashboard .items_card .items .card_info {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.dashboard .items_card a,
.dashboard .items_card button {
  width: 100%;
}

.dashboard .items_card_fluid {
  position: relative;
  width: 100%;
  height: 6.5rem;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.dashboard .items_card_fluid a {
  width: 7rem;
  margin-left: 2rem;
  display: inline-block;
}
.dashboard .items_card_fluid h6 {
  margin-top: 1rem;
}

.dashboard .paper_submission,
.dashboard .forms_card {
  width: 100%;
  text-align: center;
  height: auto;
}

.items .text-right {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  right: 0;
  top: 0;
}

.dashboard .input_groups {
  margin-bottom: 2rem;
}

.input_groups .input_group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.input_group label {
  text-align: left;
  width: 10rem;
  margin-right: 1rem;
}

.forms_card #update_quiz_form label {
  width: 6rem;
}

.forms_card #add_group_form .input_groups {
  margin-bottom: 1.2rem;
}

.forms_card #add_group_form button {
  width: 25% !important;
  padding: 0.7rem 1rem;
}

#question_form_header {  
  margin-top: 2.5rem;
}

.form_dashboard .area {
  width: 700px;
}

.form_dashboard .area_header {
  border-top: none;
  margin-bottom: 1.5rem;
}

.form_dashboard .dashboard {
  background-color: rgba(142, 165, 148, 0.40);
}

.dashboard .input,
.form_container .input,
.asset_card .input {
  background: transparent;
  border: 1px solid #343a40;
  border-radius: 0.25rem;
  padding: 1.2rem;
  width: 50%;
}

.dashboard .paper_submission .input {
  width: 86%;
}

.paper_submission .item_header,
.forms_card .item_header {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.paper_submission button,
.forms_card button {
  margin-top: 1rem;
  width: 40% !important;
  padding: 1rem;
}

.paper_submission a {
  width: 40% !important;
  padding: 1rem;
}

.user_dashboard .footer {
  background-color: rgba(39, 40, 44, 0.85);
  height: 2rem;
  margin-top: 1rem;
}

.user_dashboard .paper_request_buttons a {
  margin-left: 0.2rem;
  width: 5.5rem;
}

.area .question_list {
  height: auto;
}

.form_dashboard .quiz_area {
  width: 90% !important;
}

.quiz_area .text-right {
  display: block;
  height: auto;
}

.quiz_area #question_area {
  text-align: left;
}

.quiz_area #question_tag {
  padding-top: 4rem;
  margin-bottom: 4rem;
}

.quiz_area .button_right button {
  width: 15rem !important;
}

.quiz_area .button_right {
  width: 100%;
  text-align: right;
}

.quiz_area label {
  padding-left: 0.75rem;
}

.quiz_area .text-right {
  text-align: left !important;
}

.quiz_area label p,
.quiz_area #question_tag p {
  display: inline;
}

.dashboard .correct_response {
  border: 1px solid limegreen;
}

.dashboard .wrong_response,
.dashboard .error_list {
  border: 1px solid lightcoral;
}

.dashboard .error_list {
  text-align: left;
}

.error_log .dashboard {
  background-color: #fff3cd;
}

.dashboard #quiz_area {
  width: 60rem;
}

.dashboard #quiz_area table td {
  width: 10rem;
}

.content_display {
  padding: 0 1rem 3rem;
  /* background-color: rgba(142, 165, 148, 0.40); */
  background-color: #fff3cd;
}

.content_display .items_card {
  width: 22rem;
  height: 25rem;
  background-color: rgba(255, 255, 255, 0.65);
}

.content_area_container {
  padding-left: 0;
  padding-right: 0;
}

.content_area {
  background-color: white /**/;
  width: 100%;
  min-height: 50vh;
  padding: 4rem;
  text-align: justify;
}

.editor_area {
  padding: 1rem;
}

.comment_section {
  width: 100%;
}

.comment_section .comment_header {
  margin: 2rem 0.5rem 0;
  padding: 1.5rem 0;
  color: rgba(39, 40, 44, 0.85); /**/
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.comment_header h2 {
  padding-left: 3rem;
}

.comment_section .comment_container {
  padding: 0 2.5rem 2rem;
  width: 100%;
}

.comment_section .comment_card {
  background-color: rgba(39, 40, 44, 0.8);
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.4rem;
}

.comment_container .comment_info {
  position: relative;
  color: white /**/;
  margin-bottom: 1rem;
}

.comment_replies .comment_info {
  margin-bottom: 0.5rem;
}

.comment_info .text-right {
  display: inline-block;
  position: absolute;
  right: 0.5rem;
  bottom: 0;
}

.comment_container .comment_body {
  width: 100%;
  padding: 1rem;
  text-align: justify;
  background-color: white;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.comment_section .comment_replies {
  margin-top: 0;
  margin-left: 6rem;
  margin-bottom: 0;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0.5rem;
  border-radius: 0;
}

.comment_section .actions {
  margin-top: 1.2rem;
  margin-right: 0.5rem;
  color: white;
}

.comment_section .actions #exit_comment_button{
  display: none;
  margin-right: 1rem;
}

.comment_replies .actions {
  margin-top: 0.5rem;
}

.comment_section #reply_area {
  margin-left: 6rem;
  margin-top: 0 !important;
}

.actions .btn {
  width: 10rem;
}

.actions a {
  color: rgba(255, 255, 255, 0.55);
  padding-left: 1.5rem;
}

.comment_replies .actions a {
  padding-left: 0.5rem;
}

.comment_section .comment_form {
  margin-top: 3rem;
}

#error,
#prompt {
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}

.error_message {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  width: 40rem;
  text-align: center;
  padding: 0.5rem 0 1rem;
}

.error_message h4{
  border-bottom: 1px solid grey;
  padding-bottom: 0.5rem;
}

.error_message p{
  width: 100%;
  padding: 1rem;
}

.error_message .btn{
  margin-top: 4rem;
  padding: 0.7rem 1.5rem;
}

#prompt .btn {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}


/* endsection Student Dashboard by Tanzim*/

/* section Demo Editor by Tanzim */
.overlay {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: none;
}

.asset_container_wrapper {
  position: absolute;
  width: 100%;
  justify-content: center;
  z-index: 2;
  display: none;
}

.asset_container {
  margin-top: 10rem;
  padding: 0;
  background-color: rgba(128, 128, 128, 0.4);
}

.asset_container h3 {
  position: relative;
  border-bottom: 1px solid grey;
  padding: 0.75rem 2rem;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.85);
}

.asset_container #close_icon {
  bottom: 0.32rem;
}

.asset_area {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.asset_card {
  position: relative;
  padding: 2rem 1rem;
  width: 320px;
  height: 350px;
}

.asset_delete_buttons {
  position: absolute;
  right: 1rem;
  opacity: 0.3;
}

.asset_delete_buttons:hover {
  opacity: 1;
}

.asset_form {
  width: 300px;
  height: 300px;
  text-align: center;
  margin: 2rem 1rem 0;
  border: 1px solid grey;
  border-radius: 0.25rem;
}

.asset_form .input {
  width: 100%;
}

.asset_form .btn {
  padding: 0.75rem 1rem;
  margin-top: 7rem;
}

.asset_card img {
  width: 100%;
}

.asset_card p {
  position: absolute;
  bottom: 0;
  left: 1rem;
  right: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  word-wrap: break-word;
  border-bottom: 1px solid grey;
}

.quiz_statistics {
  width: 80%;
}

.quiz_statistics img {
  width: 100%;
}

.editor_wrapper {
  display: flex;
  width: 100%;
}

.editor_wrapper #right {
  border-left: 1px solid rgb(185, 185, 185);
}

.editor_items {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
}

.editor_items h1 {
  margin-bottom: 5rem;
}

.editor_inputs {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2rem;
  text-align: center;
}

.editor_inputs .input {
  background: transparent;
  border: 1px solid grey;
  padding: 1.2rem;
  margin: 1%;
  width: 100%;
}

.editor_inputs #left {
  width: 50%;
}

@media screen and (max-width: 1150px) {
  .editor_wrapper {
    flex-direction: column;
  }

  .editor_items {
    min-height: 0;
  }
}
/* endsection Demo Editor by Tanzim */
