body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* section Create Cover Page Form by Fahad */
/**/

/*
.wrapper {
  height: 100vh;
  padding-top: 7rem;
  padding-bottom: 1rem;
}

.cover_page_form{
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  color: rgba(0,0,0,0.8);
  height: 100%;
}

.form_header {
  color: grey;
  text-align: left;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid grey;
}

.thesis_details_form {
  max-width: 1200px;
  width: 80%;
  margin: auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.form_container {
  max-width: 500px;
  width: 80%;
  margin: auto;
  
  padding: 30px;
  border-radius: 5px;
  
}

.form_container h2 {
  text-align: left;
}

.course_details,
.group_details {
  display: flex;
}


.group_details {
  flex-basis: 95%;
  padding-left: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.input-fields{
  margin-left: 2%;
  margin-right: 2%;
  flex-basis: 45%;
  margin-bottom: 2rem;
}
.thesis_details_form h4, 
.thesis_details_form h5 {
  text-align: left;
}

.group_details h4 {
  flex-basis: 100%;
  margin-left: 2%;
  margin-bottom: 1.5rem;
}

.form_button {
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  width: 25%;
}

.input-fields .input {
  margin: 1rem 0;
  background: transparent;
  border: 1px solid grey;
  padding: 1.2rem;
  width: 100%;
}
*/

/*
::-webkit-input-placeholder {
  Chrome/Opera/Safari
  color: #c5ecfd;
}
::-moz-placeholder {
  Firefox 19+
  color: #c5ecfd;
}
:-ms-input-placeholder {
  IE 10+
  color: #c5ecfd;
}
*/
/*

.button {
    background: #00b894;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
}

@media screen and (max-width: 600px){
  .thesis_details_form {
    width: 98%;
  }

  .course_details,
  .group_details {
    flex-direction: column;
  }

  .input-fields,
  .form_button{
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .course_details{
    flex-direction: column;
  }

  .group_details {
    padding-left: 0;
  }

  .wrapper {
    height: 100%;
  }
}
*/
/* endsection Create Cover Page Form by Fahad */

/* section Forms by Fahad */
.form_background {
  background-size: cover;
  background: url('/static/images/bg_2.jpeg') no-repeat center;
  height: 100vh;
}

.forms {
  width: 450px;
  background: rgba(255, 255, 255, 0.3);
  color: #1c8adb;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  
  padding: 3rem;
}

.submit_button_container {
  position: relative;
  width: 100%;
  text-align: right;
}

.submit_button_container .btn {
  width: 8rem;
  height: 2.8rem;
}

.forms input {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.6);
  /* background-color: rgba(235, 235, 235, 0.6); */
  padding: 1.5rem;
  outline: none;
  height: 40px;
  color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 600px){
  .forms {
    width: 95%;
    padding: 1.5rem;
  }
}
/* endsection Forms by Fahad */

/* section Demo Editor by Tanzim */
.editor_wrapper {
  display: flex;
  width: 100%;
  padding-top: 3.5rem;
}

.editor_wrapper #right {
  border-left: 1px solid rgb(185, 185, 185);
}

.editor_items {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
}

.editor_items h1 {
  margin-bottom: 5rem;
}

.editor_inputs {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2rem;
}

.editor_inputs .input {
  background: transparent;
  border: 1px solid grey;
  padding: 1.2rem;
  margin: 1%;
  width: 75%;
}

.editor_inputs #left {
  width: 20%;
}

@media screen and (max-width: 1150px) {
  .editor_wrapper {
    flex-direction: column;
  }

  .editor_items {
    min-height: 0;
  }
}
/* endsection Demo Editor by Tanzim */

/* section Navigation Bar by Tanzim */
/*
nav {
  position: relative;
  background-color: rgba(48, 48, 48, 0.25);
  width: 100%;
  height: 3.5rem;
  z-index: 7;
}

.stick_nav_bar {
  position: fixed;
  top: 0;
  background-color: rgba(48, 48, 48, 0.8);
  border-bottom: 1px solid rgba(0, 184, 148,0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
*/

nav {
  position: fixed;
  top: 0;
  background-color: rgba(48, 48, 48, 0.8);
  border-bottom: 1px solid rgba(0, 184, 148,0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 3.5rem;
  z-index: 7;
}

#logo {
  display: inline-block;
  /*background-color: rgba(255, 255, 255,0.7);*/
  height: 3.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#logo a {
  color: #00b894;
  text-decoration: none;
  font-weight: 100;
}

#navigation_links {
  display: inline-block;
  position: absolute;
  height: 3.5rem;
  right: 0;
}

#navigation_links li {
  display: inline-block;
  vertical-align: middle;
  padding: 1rem;
  margin: 0;
}

#navigation_links a {
  color: white;
  font-weight: 100;
}

#navigation_links a:hover {
  color: #00b894;
  font-weight: bold;
}

#navigation_links a:active {
  color: black;
  font-weight: bold;
}

#navigation_links button {
  color: #636e72;
}

#navigation_links button:hover {
  color: hotpink;
  font-weight: bold;
}

#navigation_links button:active {
  color: #74b9ff;
  font-weight: bold;
}

.temp {
  height: 1200px;
}

.ceiling {
  width: 100%;
  height: 3.5rem;
}

.form_header {
  color: rgba(0, 0, 0, 0.55);
  text-align: left;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.55);
}
/* section Navigation Bar by Tanzim */
/* section Home Page by Tanzim */
#hero_image {
  position: relative;
  /*top: -3.5rem;*/
  background-image: url('/static/images/hero_image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#hero_text {
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
}
/* endsection Home Page by Tanzim */
/* section Content Display by Tanzim */
#content_display {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding-top: 10rem;
}

#content {
  text-align: justify;
  display: none;
}

#content_list_background {
  background-image: url('/static/images/bg__3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#content_list_overlay {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
}

#content_list_container {
  color: white;
}

#content_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 2.6rem;
}

#content_list_header {
  text-align: center;
  padding-top: 6rem;
  color: rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}

.content_card {
  width: 20rem;
  background-color: rgba(48, 48, 48, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid rgba(0, 184, 148,1);
  padding: 2rem;
  margin: 1rem;
  opacity: 0.65;
}

.content_card div {
  display: table-cell;
  width: 16rem;
  height: 15rem;
  vertical-align: middle;
}

.content_card a {
  width: 100%;
}

.content_card hr {
  border-top: 1px solid white;
}
/* endsection Content Display by Tanzim*/
/* section Error Messages by Tanzim */
.errorlist {
  color: red;
  background-color: rgba(216, 216, 216, 0.4);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}

.flash_messages {
  position: absolute; 
  top: 3.5rem;
  width: 100%; 
  text-align: center;
  z-index: 4;
}
/* endsection Error Messages by Tanzim */
/* section Student Dashboard by Fahad */
#dashboard  {
  background: url(bgd1.jpg);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  height: 100%;
  max-width: 1200px;
  padding-top: 10rem;
}
.info{
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
border-radius: 5px;
width: 100%;
}
.stcard {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
border-radius: 5px;
width: 100%;
height: auto;
text-align: left;
padding: 2rem 4rem 2rem 4rem;
margin-bottom: 2rem;
}

.coursecard {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
border-radius: 5px;
width: 50%;
height: auto;
text-align: left;
}


/* Add rounded corners to the top left and the top right corner of the image */
img {
border-radius: 5px 5px 0 0;
}

.flex-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.flex-container > div {
background-color: #f1f1f1;
width: 500px;
margin: 20px;
height: 500px;
/*font-size: 30px;*/
}
.flex-containerse {
display: flex;
flex-wrap: wrap;
}
.flex-containerse > div {
background-color: #f1f1f1;
width: 48.2%;
margin: 5px;
height: 100%;
/* font-size: 30px; */
}
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
padding: 16px;
text-align: center;
background-color: #8c8c8c;
}
.cardts {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
text-align: center;
background-color: #ffffe6;
display: flex;
width: 100%;
font-size: 16px;
margin-top: 2px;
}
.cardtsp {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
text-align: center;
background-color: #ffffe6;
width: 100%;
font-size: 30px;
}
.card button {
border: none;
outline: 0;
padding: 12px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
height: 100%;
}
/* endsection Student Dashboard by Fahad */
/* section Student Dashboard by Tanzim*/
.dashboard_background {
  background-image: url('/static/images/bg_2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

.user_dashboard {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-top: 3.5rem;
  background-color: rgba(39, 40, 44, 0.5);
}

.user_dashboard .header {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  background-color: rgb(39, 40, 44);
  /*color: #343a40;*/
  color: white;
  opacity: 0.85;
}

.user_dashboard .welcome {
  padding-right: 2rem;
}

.user_dashboard .dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
  background-color: rgba(39, 40, 44, 0.4);
}

.user_dashboard .container {
  max-width: 1275px;
}

.header .user_info {
  position: relative;
  margin-top: 5rem;
  width: 100%;
  padding: 1rem 2.4rem 0.5rem 2.4rem;
  margin-bottom: 1rem;
}

.header .user_info .text-right {
  display: inline-block;
  width: auto;
  position: absolute;
  right: 2rem;
}

.header .user_info .btn {
  width: 8rem;
}

.dashboard .area {
  width: 38rem;
  margin: 1rem 0.5%;
  padding-bottom: 1rem;
}

.dashboard .quiz_area {
  width: 75%;
}

.dashboard .area_header {
  width: 100%;
  /*background-color: #999484;*/
  padding: 1rem 2.4rem 0.5rem 2.4rem;
  margin-bottom: 1rem;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  color: white;
}

.dashboard .card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dashboard .items_card,
.dashboard .educator_forms {
  width: 18rem;
  height: 20rem;
  /*background-color: rgba(48, 48, 48, 1);*/
  /*background-color: rgba(35, 199, 232, 0.2);*/
  /*background-color: rgba(13, 42, 64, 0.247);*/
  /*background-color: rgb(109,132,124);*/
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

  background-color: white;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
              0 6px 20px 0 rgba(0, 0, 0, 0.45);
  border-radius: 0.4rem;
  /*border: 1px solid rgba(0, 184, 148,1);*/
  padding: 2rem;
  margin: 0.5rem;
}

.dashboard .items_card .items,
.dashboard .educator_forms .items {
  position: relative;
  width: 100%;
  height: 100%;
}

.dashboard .items_card .items .card_info {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.dashboard .items_card a,
.dashboard .items_card button {
  width: 100%;
}

.dashboard .items_card_fluid {
  position: relative;
  width: 100%;
  height: 6.5rem;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.dashboard .items_card_fluid a {
  width: 7rem;
  margin-left: 2rem;
  display: inline-block;
}
.dashboard .items_card_fluid h5 {
  margin-top: 1rem;
}

.dashboard .paper_submission,
.dashboard .educator_forms {
  width: 100%;
  text-align: center;
  padding: 1rem 2rem 2rem;
  height: auto;
}

.items .text-right {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0rem;
}

.dashboard .input,
.form_container .input {
  background: transparent;
  border: 1px solid #343a40;
  border-radius: 0.25rem;
  padding: 1.2rem;
  margin: 1%;
  width: 75%;
}

.dashboard .paper_submission .input {
  width: 86%;
}

.paper_submission .item_header,
.educator_forms .item_header {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.paper_submission button,
.educator_forms button {
  margin-top: 1rem;
  width: 40% !important;
  padding: 1rem;
}

.paper_submission a {
  width: 40% !important;
  padding: 1rem;
}

.paper_list a {
  margin-top: 1rem;
}

.form_container {
  padding-top: 4rem;
  background-color: white;
  display: flex;
  justify-content: center;
}

.form_container .form {
  width: 700px;
  text-align: center;
}

.form_container form {
  width: 700px;
  text-align: center;
  padding-bottom: 4rem;
}

.form_container .input {
  width: 50%;
}

.form_container button {
  width: 50% !important;
  margin-top: 4rem;
  padding: 1rem;
}

.user_dashboard .footer {
  background-color: rgba(39, 40, 44, 0.85);
  height: 2rem;
  margin-top: 1rem;
}

.user_dashboard .paper_request_buttons a {
  margin-left: 0.2rem;
  width: 5.5rem;
}

.area .question_list {
  height: auto;
}

.quiz_area .button_right button {
  width: 10rem;
}

.quiz_area .button_right {
  width: 100%;
  text-align: right;
}

.quiz_area label {
  padding-left: 0.75rem;
}

.quiz_area .text-right {
  text-align: left !important;
}

.quiz_area label p,
.quiz_area #question_tag p {
  display: inline;
}

.content_display {
  margin: 1rem 0.5%;
  padding-bottom: 1rem;
}

.content_display .items_card {
  width: 22rem;
  height: 25rem;
}

.content_area_container {
  padding-left: 0;
  padding-right: 0;
}

.content_area {
  background-color: #f1f1f1;
  width: 100%;
  min-height: 50vh;
  padding: 4rem;
  margin-bottom: 2rem;
  text-align: justify;
}

.comment_section {
  width: 100%;
}

.comment_section .comment_header {
  margin: 2rem 0.5rem 0;
  padding: 1.5rem 0;
  color: #f1f1f1;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.comment_header h2 {
  padding-left: 3rem;
}

.comment_section .comment_container {
  padding: 0 2.5rem 2rem;
  width: 100%;
}

.comment_section .comment_card {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.4rem;
}

.comment_container .comment_info {
  position: relative;
  color: #f1f1f1;
  margin-bottom: 1rem;
}

.comment_replies .comment_info {
  margin-bottom: 0.5rem;
}

.comment_info .text-right {
  display: inline-block;
  position: absolute;
  right: 0.5rem;
  bottom: 0;
}

.comment_container .comment_body {
  width: 100%;
  padding: 1rem;
  text-align: justify;
  background-color: white;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.comment_section .comment_replies {
  margin-top: 0;
  margin-left: 6rem;
  margin-bottom: 0;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0.5rem;
  border-radius: 0;
}

.comment_section .actions {
  margin-top: 1.2rem;
  margin-right: 0.5rem;
  color: white;
}

.comment_section .actions #exit_comment_button{
  display: none;
  margin-right: 1rem;
}

.comment_replies .actions {
  margin-top: 0.5rem;
}

.comment_section #reply_area {
  margin-left: 6rem;
  margin-top: 0 !important;
}

.actions .btn {
  width: 10rem;
}

.actions a {
  color: rgba(255, 255, 255, 0.55);
  padding-left: 1.5rem;
}

.comment_replies .actions a {
  padding-left: 0.5rem;
}

.comment_section .comment_form {
  margin-top: 3rem;
}
/* endsection Student Dashboard by Tanzim*/
