{% extends 'layout.html' %}

{% block background_class %}
  dashboard_background
{% endblock %}

{% block body %}
<div class="user_dashboard form_page">
  <div class="header container">
    <div class="text-right welcome">
      <h1><strong>Classrooms</strong></h1>
    </div>
    <div class="user_info">
      <h3>
        <strong>{{ request.user.get_full_name }}</strong> 
        <br>
        {{ request.user.username }}
      </h3>
    </div>
  </div>
  <div class="form_container container">
    <div>
      <div>
        <h1 class="form_header">Join A Class</h1>
      </div>
      <form action="" method="POST">
        {% csrf_token %}
        {{ form.classroom }}
        {{ form.classroom.errors }}
        <button type="submit" class="btn btn-dark">Join</button>
      </form>
    </div>
  </div>
  <div class="footer container"></div>
</div>
{% endblock %}