{% extends 'layout.html' %}

{% block background_class %}
  dashboard_background
{% endblock %}

{% block body %}
<div class="user_dashboard form_dashboard">
  <div class="header container">
    <div class="text-right welcome">
      <h1>Classroom</strong></h1>
    </div>
    <div class="user_info">
      <h3>
        <strong>{{ request.user.get_full_name }}</strong> 
        <br>
        {{ request.user.username }}
      </h3>
    </div>
  </div>
  <div class="dashboard container">
    <div class="area">
      <div class="area_header">
        <h2> Join Classroom </h2>
      </div>
      <div class="card_container">
        <div class="forms_card educator_forms">
          <div class="items">
            <form action="" method="POST" id="add_group_form">
              {% csrf_token %}
              <div class="input_groups">
                {{ form.classroom }}
                {{ form.classroom.errors }}
              </div>
              <button type="submit" class="btn btn-dark">Join</button>
            </form>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>
{% endblock %}