{% extends 'layout.html' %}

{% block background_class %}
  dashboard_background
{% endblock %}

{% block body %}
<div class="user_dashboard form_dashboard">
  <div class="header container">
    <div class="text-right welcome">
      <h1><strong>Classroom</strong></h1>
    </div>
    <div class="user_info">
      <h3>
        <strong>{{ quiz.title }}</strong> 
        <br>
        <br>
        {{ quiz.classroom.name }}
      </h3>
      <p>
        {{ quiz.classroom.course_code }}, 
        Section: {{ quiz.classroom.section }} <br>
        Session: {{ quiz.classroom.semester }}
      </p>
    </div>
  </div>
  <div class="dashboard container">
    <div class="area">
      <div class="area_header">
        <h2> Update Question </h2>
      </div>
      <div class="card_container">
        <div class="forms_card">
          <div class="items">
            <form action="" method="POST">
              {% csrf_token %}
              <div class="input_groups">
                <label><strong>Question Text:</strong></label> <br>
                {{ form.text }}
                {{ form.text.errors }}
              </div>
              <div class="input_groups">
                <label><strong>Options </strong>(Seperate each option with // characters in a new line):</label> <br>
                {{ form.options }}
                {{ form.options.errors }}  
              </div>
              <div class="input_groups">
                <div class="input_group">
                  <label><strong>Correct Choice:</strong></label>
                  {{ form.answer }}
                </div>  
                {{ form.answer.errors }}
              </div>
              <div class="input_groups">
                <div class="input_group">
                  <label><strong>Points:</strong></label>
                  {{ form.points }}
                </div> 
                {{ form.points.errors }}   
              </div>
              <div class="input_groups">
                <div class="input_group">
                  <label><strong>Time (in seconds):</strong></label>
                  {{ form.time }} 
                </div>  
                {{ form.time.errors }} 
              </div>
              <button type="submit" class="btn btn-dark">Update Question</button>
            </form>
          </div>
        </div>
      </div>      
    </div>
  </div>
  <div class="footer container"></div>
</div>

<!-- CK Editor JS includes-->
<script src="//cdn.ckeditor.com/4.13.1/standard-all/ckeditor.js"></script>
<!-- MathJax JS includes -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- Defined JS includes -->
{% load static %}
<script src="{% static 'scripts/update_quiz_editors.js' %}"></script>

{% endblock %}