{% extends 'layout.html' %}

{% block body %}
<div class="user_dashboard form_dashboard">
  <div class="header container">
    <div class="text-right welcome">
      <h1>Hello <strong>{{ request.user.first_name }}</strong></h1>
    </div>
    <div class="user_info">
      <h3>
        <strong>{{ request.user.get_full_name }}</strong> 
        <br>
        {{ request.user.username }}
      </h3>
    </div>
  </div>
  <div class="dashboard container">
    <div class="area">
      <div class="area_header">
        <h2> Create Group </h2>
      </div>
      <div class="card_container">
        <div class="forms_card educator_forms">
          <div class="items">
            <form action="" method="POST" id="add_group_form">
              {% csrf_token %}
              <div class="input_groups">
                {{ group_form.course }}
                {{ group_form.course.errors }}
              </div>
              <div class="input_groups">
                {{ group_form.name }}
                {{ group_form.name.errors }}
              </div>
              <div class="input_groups">
                {{ group_form.instructor }}
                {{ group_form.instructor.errors }}
              </div>
              <div class="input_groups">
                {{ group_form.member_1 }}
                {{ group_form.member_1.errors }}
              </div>
              <div class="input_groups">
                {{ group_form.member_2 }}
                {{ group_form.member_2.errors }}
              </div>
              <div class="input_groups">
                {{ group_form.member_3 }}
                {{ group_form.member_3.errors }}
              </div>
              <div class="input_groups">
                {{ group_form.member_4 }}
                {{ group_form.member_4.errors }}
              </div>
              <div class="input_groups">
                {{ group_form.member_5 }}
                {{ group_form.member_5.errors }}
              </div>
              <button type="submit" class="btn btn-dark">Create</button>
            </form>
          </div>
        </div>
      </div>      
    </div>
  </div>
  <div class="footer container"></div>
</div>
{% endblock %}