{% extends 'layout.html' %}

{% block background_class %}
  dashboard_background
{% endblock %}

{% block body %}
<div class="user_dashboard">
  <div class="header container">
    <div class="text-right welcome">
      <h1>Welcome <strong>{{ request.user.first_name }}</strong></h1>
    </div>
    <div class="user_info">
      <h3>
        <strong>{{ request.user.get_full_name }}</strong> 
        <br>
        {{ request.user.username }}
      </h3>
    </div>
  </div>
  <div class="dashboard container">
    <div class="area">
      <div class="area_header">
        <h2> Your Classes </h2>
        <br>
        <p>Session</p>
      </div>
      <div class="card_container">
        {% for classroom in classrooms %}
          <div class="items_card">
            <div class="items">
              <h3>{{ classroom.name }}</h3>
              <div class="card_info">
                <p>
                  Course: {{ classroom.course_code }} <br>
                  Section: {{ classroom.section }} <br>
                  Session: {{ classroom.semester }} <br>
                </p>
                <h5>{{ classroom.instructor.get_full_name }}</h5>
                <a href="{% url 'classrooms:show' classroom.id %}" class="btn btn-outline-dark"> View</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="area">
      <div class="area_header">
        <h2> Your Quizzes </h2>
        <br>
        <p>Session</p>
      </div>
      <div class="card_container">
        <div class="items_card items_card_fluid">
          <div class="items">
            <p>
              <strong>Quiz Title</strong> 
              <br>
              <br>
              Course Code,
              Section
            </p>
            <div class="text-right">
              <h5>
                Marks: xx 
                <a href="" class="btn btn-outline-dark"> View</a>
              </h5>
            </div>
          </div>
        </div>
        <div class="items_card items_card_fluid">
          <div class="items">
            <p>
              <strong>Quiz Title</strong> 
              <br>
              <br>
              Course Code,
              Section
            </p>
            <div class="text-right">
              <h5>
                Marks: xx 
                <a href="" class="btn btn-outline-dark"> View</a>
              </h5>
            </div>
          </div>
        </div>
        <div class="items_card items_card_fluid">
          <div class="items">
            <p>
              <strong>Quiz Title</strong> 
              <br>
              <br>
              Course Code,
              Section
            </p>
            <div class="text-right">
              <h5>
                Marks: xx 
                <a href="" class="btn btn-outline-dark"> View</a>
              </h5>
            </div>
          </div>
        </div>
        <div class="items_card items_card_fluid">
          <div class="items">
            <p>
              <strong>Quiz Title</strong> 
              <br>
              <br>
              Course Code,
              Section
            </p>
            <div class="text-right">
              <h5>
                Marks: xx 
                <a href="" class="btn btn-outline-dark"> View</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="area">
      <div class="area_header">
        <h2> Submit Your Papers </h2>
        <br>
        <p>Session</p>
      </div>
      <div class="card_container">
        <div class="items_card paper_submission">
          <div class="items">
            <h3 class="item_header">Select a group and submit your paper</h3>
            <form action="" method="POST">
              {% csrf_token %}
              {{ groups_form.groups }}
              {{ groups_form.groups.errors }}
              <button type="submit" class="btn btn-dark">Go to Submit Paper</button>
            </form>
            <h3 class="item_header">Create a new Project Group</h3>
            <a href="{% url 'learners:add_group' %}" class="btn btn-outline-dark">Create New Group</a>
          </div>
        </div>
      </div>
    </div>
    <div class="area">
      <div class="area_header">
        <h2> Your Papers </h2>
        <br>
        <p>Session</p>
      </div>
      <div class="card_container">
        {% for paper in papers %}
          <div class="items_card items_card_fluid paper_list">
            <div class="items">
              <p>
                <strong>{{ paper.title }}</strong> 
                <br>
                <br>
                {{ paper.group.course_code }},
                Section: {{ paper.group.section }}
              </p>
              <div class="text-right">
                <a href="" class="btn btn-outline-dark"> View</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}